twitch-export-builder_linux_amd64
exportcommand.txt
.minecraft/.build.json
.minecraft/mods/*.disabled
.minecraft/config/minihud
.minecraft/config/cherishedworlds
.minecraft/config/fabric
.minecraft/config/fabric/indigo-renderer.properties
.minecraft/config/sodium*
.minecraft/*.OLD
